<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doofy.mappers.TblTeacherMapper">
  <resultMap id="BaseResultMap" type="com.doofy.bean.TblTeacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <resultMap id="TeacherStudent" type="com.doofy.bean.TblTeacher">
    <collection property="students" ofType="com.doofy.bean.TblStudent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="TeacherStudent">
    select t.id,t.name,s.id,s.name
    from tbl_teacher t,tbl_student s
    where t.id =s.tid and t.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tbl_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.doofy.bean.TblTeacher" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tbl_teacher (`name`)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.doofy.bean.TblTeacher" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tbl_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doofy.bean.TblTeacher">
    <!--@mbg.generated-->
    update tbl_teacher
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doofy.bean.TblTeacher">
    <!--@mbg.generated-->
    update tbl_teacher
    set `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>